*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 15px 45px;
    font-size: 20px;
    background: transparent;
    border: 3px solid rgba(67, 204, 214, 0.747);
    color: rgba(67, 204, 214, 0.747);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover{
    box-shadow: 0 0 15px  rgba(67, 204, 214, 0.747), inset  0 0 15px rgba(67, 204, 214, 0.747);
    text-shadow: 0 0 15px  rgba(67, 204, 214, 0.747);
}